<div class="container p-5">
    <div class="card">
        <div class="card-header">
            <h1>Listar Empleados</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Esteban</td>
                        <td>e05072003@gmial.com</td>
                        <table>Editar | Borrar</table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
