<div class="container p-3">
    <h6>Crear Usuario</h6>
    <div class="card">
        <div class="card-header">
            <strong class="">informacion</strong>
         <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success btn-sm  p-2 bd-highlight" id="btn-5">Guardar</button>
            <button type="button" class=" btn btn-secondary btn-sm  p-2 bd-highlight">Cancelar</button>
         </div> 
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Nombre y Apellido</label>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Correo</label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Rol</label>
                        <select id="inputState" class="form-select">
                            <option selected>Selecciona un rol...</option>
                            <option>doctor</option>
                            <option>psicologo</option>
                            <option>maestro</option>
                            <option>otro</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>