<div class="container p-3">
    <div class="textTop">
        <h6>Crear Usuario</h6>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <strong>informacion</strong>
                </div>
                <div class="col">
                    <div class="d-flex flex-row-reverse bd-highlight  mb-1">
                        <div class="btn-group">
                            <button type="button" class="btn1 btn-light btn-sm "
                                data-bs-toggle="button">Cancelar</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn2 btn-light btn-sm "
                                data-bs-toggle="button">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Nombre y Apellido</label>
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Correo</label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Rol</label>
                        <select id="inputState" class="form-control">
                            <option selected>Selecciona un rol...</option>
                            <option>doctor</option>
                            <option>psicologo</option>
                            <option>maestro</option>
                            <option>otro</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>