<div class="container">

    <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="btn-group">
            <button class="btn2 btn-sm  btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tipo de cupon
            </button>
            <ul class="dropdown-menu">
                ...
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn2 btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                categoria
            </button>
            <ul class="dropdown-menu">
                ...
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn1 btn-light btn-sm " data-bs-toggle="button">Crear cupon</button>
        </div>

    </div> -->

    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group">
            <button type="button" class="btn1 btn-light btn-sm " data-bs-toggle="button">Crear cupon</button>
        </div>

        <div class="btn-group">
            <button class="btn2 btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                categoria
            </button>
            <ul class="dropdown-menu">
                ...
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn2 btn-sm  btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tipo de cupon
            </button>
            <ul class="dropdown-menu">
                ...
            </ul>
        </div>
            
    </div>

    <div class="textTop">
        <h6>Cupones Delivery</h6>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tipo de cupon</th>
                        <th>Titulo</th>
                        <th>Duracion</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of datosTabla">
                        <td></td>
                        <td>{{dato.TipoDeCupon}}</td>
                        <td>{{dato.Titulo}}</td>
                        <td>{{dato.Duracion}}</td>
                        <td>{{dato.Categoria}}</td>
                        <td>{{dato.Cantidad}}</td>
                        <div class="flex-container">
                            <div class="points">
                                <td>...</td>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>