.textTop {
    color: blueviolet;
}

.points {
    color: #f71577;
    font-size: 200%;
}

.btn1 {
    background-color: blueviolet;
    text-align: center;
    border-radius: 10%;
    color: white;
}

.btn2 {
    background: #f71577;
    border-radius: 10%;
    color: white;
}