<div class="container p-3">
    <div class="textTop">
        <h6>Editar Categoria</h6>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="btn-group">
                    <button type="button" class="btn1 btn-light btn-sm " data-bs-toggle="button">Cancelar</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn2 btn-light btn-sm " data-bs-toggle="button">Guardar</button>
                </div>
            </div>
            <strong class="">informacion</strong>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Promociones" aria-label="Promociones">
                    </div>
                    <div class="col-sm-5">
                        <label for="inputState" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" placeholder="lorem ipsum dolor sit amet"
                            aria-label="lorem ipsum dolor sit amet">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>