<div class="container p-3">
    <h6>Editar Categoria</h6>
    <div class="card">
        <div class="card-header">
            <strong class="">informacion</strong>
         <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success btn-sm  p-2 bd-highlight" id="btn-5">Guardar</button>
            <button type="button" class=" btn btn-secondary btn-sm  p-2 bd-highlight">Cancelar</button>
         </div> 
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="inputState" class="form-label">Nombre</label>
                        <input type="text" class="form-control"  placeholder="Promociones" aria-label="Promociones">
                    </div>
                    <div class="col-sm-5">
                        <label for="inputState" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" placeholder="lorem ipsum dolor sit amet" aria-label="lorem ipsum dolor sit amet">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
