<div class="card-header">
    <h2>LISTA DE ESTUDIANTES</h2>
</div>


<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>GRADO</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido}}</td>
                <td>{{estudiante.grado}}</td>
                <td>{{estudiante.email}}</td>
            </tr>
        </tbody>
    </table>
</div>